/* Learning */

.list {
	line-height: 1.3;
}

.indent {
	margin-left:20px;
}

#main-paragraph p {
  margin-top: 0;
}

:link, :visited {
color:#A7D126;
text-decoration:none;
}
h1, h2, h3, h4, h5, h6, pre, code {
font-size:1.1em;
}
a img, :link img, :visited img {
border:medium none;
}
a:hover {
 text-decoration: underline;
}
body {
  font-family: Arial, sans-serif;
  color:#463D2C;
  margin:0;
  font-size: 10pt;
  background: #1F1900;
}
#top-canvas {
overflow:hidden;
height: 250px;
}
#headerWrapper{
  margin: 0 auto;
  width: 1024px;
  height: 100%;
}

#languageLink, #languageLink a, #languageLink a:hover{
   text-align: right;
   text-decoration: none;
   margin: 1px;
}
#languageLink a{
   color: white;
}
#top-bar {
background:#D4CEB4 none repeat scroll 0 0;
border-bottom:1px solid #C4BFAA;
height:25px;
}
#canvas {
background:#EAE5CE none repeat scroll 0 0;
border-bottom:5px solid #D4CEB4;
border-top:1px solid #EEEAD8;
overflow:hidden;
}

#content, #footer, #header, #subNav{
  margin:0 auto;
  width:950px;
}

#content {
padding:14px 8px 8px;
}
#textLogo{
   font-size: 2em;
}
#sapnaText{
   color: #B0DD58;
}
#subtitle{
margin: 20px 0px 0px; 
color: #F9F4DD; 
font-size: 1.6em;
width: 400px;
}

.tab_true.x {
  background: none;
}
.subNavLinks, .subNavLinks .tab_true{
  text-align: center;
  width: 200px;
  margin-top: 40px;
}
.subNavLinks#portfolio{
  margin-left: 52px;
}

.subNavLinks#about{
  margin-left: 260px;
}

#sapna_tabs .subNavLinks a, #sapna_tabs .subNavLinks a:hover, #sapna_tabs .subNavLinks strong{
  background: none;
  width: auto;
  float: none;
  margin: 0;
  padding: 0 5px;  
}
#sapna_tabs .subNavLinks a, #sapna_tabs .subNavLinks a:hover{
color: #473E2D;
  font-weight: normal;
}

#header-left {
float:left;
width:440px;
}
#header-left a img {
margin-top:20px;
position:relative;
}

.ey-badge{
  position: absolute;
  margin: 0 0 0 280px;
}

#header-right {
float:right;
margin-top:10px;
width:440px;
}
#contactBox{
  float: right;
  color: white;
  text-align: right;
  width: 250px;
  margin-top: 20px;
}
#contactBox p{
  font-size: 1.4em;
  margin: 10px 0;
}
#contactBox .email{
  color: #91AD1C;
  font-size: 1.5em;
}

#random-facts {
background:transparent url(images/layout/fact_box.png) no-repeat scroll right top;
height:60px;
width:100%;
}
#random-facts img {
float:left;
position:relative;
}
#random-facts span {
color:#F9F2DC;
float:right;
font-size:80%;
padding:13px;
width:74%;
}
#new-stuff {
/*background:transparent url(images/legends/new_stuff.png) no-repeat scroll left center;
height:143px;*/
text-align:right;
width:100%;
margin-top:80px;
font-size:2em;
color: white;
}
#new-stuff div {
float:right;
text-align:left;
}
#new-stuff a img {
position:relative;
}
#header h1, #header h4 {
font-size:30px;
margin:0;
padding:10px 0;
}
#sapna_tabs{
  position: absolute;
  top: 215px;
}
#sapna_tabs a{
background:transparent url(/images/main/tab.png) no-repeat scroll 0 0;
float:left;
margin-bottom:-12px;
margin-right:3px;
padding:10px;
text-align:center;
width:80px;
height: 15px;
text-decoration: none;
color:#F9F4DD;
font-weight:bold;
font-size: 1.1em;
}
#sapna_tabs a:hover{
background: transparent url(/images/main/tab.png) no-repeat scroll 0 -50px;
color:#473E2D;
cursor:pointer;
}

#sapna_tabs .tab_true {
background: transparent url(/images/main/tab.png) no-repeat scroll 0 -50px;
color:#473E2D;
}
.current_page_item a, .current_page_parent a {
background:transparent url(/images/main/tab_current.png) no-repeat scroll 0 0;
text-decoration:none;
}
.current_page_item a:hover, .current_page_parent a:hover {
text-decoration:underline;
}
#primaryContent {
float:left;
margin:0;
padding-bottom: 55px;
width:550px;
}
#primaryContent h1 {
font-size: 1.2em;
}
#primaryContent h2, .job h2 a {
margin:20px 0 0;
padding:0;
}
#primaryContent h1.postTitle, #primaryContent h2.postTitle {
font-size:20px;
}
#primaryContent h1.postTitle a, #primaryContent h2.postTitle a {
color:#B72638;
text-decoration:underline;
}
#primaryContent h3 {
margin:10px 0 0;
padding:0;
}
ol#posts {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}
#postWrapper{
   border: medium none;
}

li.postWrapper, div.postWrapper {
border-bottom:1px dashed #9E9A87;
}
.postWrapper img {
}
div.post p a:hover {
text-decoration:underline;
}
div.post div {
position:relative;
}
div.post p img{
  padding: 5px;
  border: 1px solid #9E9A87;
}
div.post div img {
}
#main-paragraph {
font-size:1.35em;
margin-bottom: 30px;
}
#main-paragraph .w{
  font-size: 1.5em;
}
#main-paragraph strong{
  color: #619C07;
  font-weight: normal;
}
#subtitle strong{
  color: #A7D126;
  font-weight: normal;
}
.box {
float:left;
width:250px;
margin-bottom: 30px;
font-size: 1.1em;
}
.box h1 {
font-size:1.1em;
}
#canvas a{
  color: #B72638;
  text-decoration:none;
}
.separator {
background:#D5CFB5 none repeat scroll 0 0;
border-right:1px solid #FFFFFF;
float:left;
height:120px;
margin:0 20px 0 10px;
position:relative;
top:5px;
width:1px;
}
.graphic{
   width: 60px;
   height: 60px;
   float: left;
   margin-right: 10px
}
#webGraphic{
   background: url(/images/home/homeGraphics.png);
}
#mobileGraphic{
   background: url(/images/home/homeGraphics.png) scroll 60px 0;
}
#socialGraphic{
   background: url(/images/home/homeGraphics.png) scroll 0 60px;
}
#consultancyGraphic{
   background: url(/images/home/homeGraphics.png) scroll 60px 60px;
}
.dotted {
border-bottom:1px dashed #9E9A87;
height:1px;
width:100%;
}
.red {
color:#B72638;
}
.blue {
color:#3099DE;
}
.orange {
color:#D7690B;
}
.green {
color:#619C07;
}
.clear {
clear:both;
}
#work-box h1 {
font-size:1.6em;
}
#work-box h2 {
font-size:1.3em;
}
#work-box h2 a {
color:#463D2C;
text-decoration:none;
}
#work-box a {
color:#2C7211;
text-decoration:underline;
}
.teamMember {
border-bottom:1px dotted #9E9A87;
padding: 20px 0;
}
.teamMemberDetails {
float:left;
padding-left:18px;
width:350px;
}
.teamMember  h1 {
font-size:1.6em;
font-weight:normal;
margin-bottom:-12px;
}
.teamMember  h2 {
font-size:1.3em;
}
.teamMember  a {
color:#2C7211;
text-decoration:underline;
}
.teamMember .teamMemberImageBorder{
  padding: 5px 5px 2px;
  border: 1px solid #9E9A87;
  width: 100px;
  float: left;
  margin-top: 10px;
}

.hidden_image{
  display: none;
}

p.postMeta {
background:transparent url(images/icons/bubble.png) no-repeat scroll 0 2px;
font-size:90%;
padding-left:20px;
}
p.postMeta a {
color:#2C7211;
}
p.postMeta a:hover {
color:#73C867;
}
p.postMetaSingle {
font-size:90%;
}
#pagination {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}
#pagination li {
}
#pagination .previous {
float:left;
text-align:left;
}
#pagination .future {
float:right;
text-align:right;
}
#sidebar {
float:right;
padding-bottom:17px;
width:350px;
}
.secondaryContentTop, .secondaryContent, .secondaryContentBottom{
float:left;
width: 350px;
}

.secondaryContent .email{
  font-size: 1.5em;
  text-align: center;
}

.secondaryContent img.rails{
  float: left;
  margin-right: 10px;
}

.tech_left{
  float: left;
}
  
.tech_right{
  float: right;
  margin-right: 10px;
}

.technology li{
  background: url(/images/widgets/tick.png) no-repeat;
}
.secondaryContentTop {
/*background:transparent url(/images/main/sidebar_box_burger.png) no-repeat;
height:10px;*/
}

.secondaryContent {
background:#D4CEB4 none repeat scroll 0 0;
padding: 10px 0;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}
.secondaryContentBottom {
/*background:transparent url(/images/main/sidebar_box_burger.png) no-repeat scroll 0 -10px;;
height:10px;*/
margin-bottom:15px;
}
.secondaryContent h3 {
margin:10px 0 0;
padding:0;
}
.secondaryContent ul li {
font-weight:bold;
margin:0 0 10px -25px;
padding-left: 25px;
list-style: none;
}
.secondaryContent ul li#spec{
  background: url(/images/portfolio/page_white_code.png) no-repeat;
}
.secondaryContent ul li#idea{
  background: url(/images/portfolio/user_comment.png) no-repeat;
}

.secondaryContent ul li#offshore{
  background: url(/images/portfolio/world_go.png) no-repeat;
}

.secondaryContent ul li.categories {
position:relative;
top:8px;
}
.secondaryContent ul li.categories ul {
position:relative;
top:14px;
}
.secondaryContent ul li.categories ul li {
padding-left:23px;
}
.secondaryContent ul li.categories ul li a {
color:#B72638;
}
.secondaryContent ul li.categories ul li a:hover {
color:#2C7211;
}
.widget_tag_cloud a {
padding-left:5px;
}
#give-us-call {
color:#25407B;
float:left;
line-height:7px;
padding-left:18px;
}
#give-us-call h1 {
font-size:1.4em;
}
#give-us-call a {
color:#2C7211;
text-decoration:underline;
}
.home-box {
  margin:6px 18px 13px;
}
.home-box h1 {
color:#B72638;
font-size:1.4em;
margin-bottom:3px;
margin-top:0;
}
#subscribe {
background:transparent url(images/logos/feed.png) no-repeat scroll 0 0;
cursor:pointer;
height:40px;
padding:5px 0 0 40px;
}
#search form div {
position:relative;
top:7px;
}
#search form div input {
float:left;
}
#s {
border:1px solid #827153;
color:#463D2C;
font-family:arial,sans-serif;
font-size:16px;
height:20px;
padding:6px;
width:230px;
}
#commentlist {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}
#commentlist li {
margin-bottom:10px;
}
#commentlist li div.commentText {
background:#D4CEB4 none repeat scroll 0 0;
padding:1px 20px;
width:490px;
}
#commentTop {
background:transparent url(images/main/comment_box_top.png) no-repeat scroll 0 0;
height:10px;
padding:0;
width:530px;
}
#commentBottom {
background:transparent url(images/layout/comment_box_bottom.png) no-repeat scroll 0 0;
height:10px;
padding:0;
width:530px;
}
#commentlist li p cite {
font-size:83%;
font-style:normal;
}
#commentform p label {
font-size:90%;
left:5px;
position:relative;
}
#author, #email, #url {
border:1px solid #827153;
color:#463D2C;
font-family:arial,sans-serif;
font-size:110%;
height:20px;
}
#comment {
border:1px solid #827153;
color:#463D2C;
font-family:arial,sans-serif;
height:120px;
padding:3px;
width:500px;
}
#postcomment, #comments, #comments a {
color:#B72638;
font-size:15px;
}
#bottom-canvas {
background:#FFFFFF none repeat scroll 0 0;
clear:both;
padding-bottom:40px;
}
#footer {
font-size:0.8em;
padding-top:20px;
}
#footer-menu {
float:left;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}
#footer-menu li {
display:inline;
font-weight:bold;
}
#copyright {
text-align:right;
float:right;
}
#find-us {
float:right;
text-align:right;
}
#find-us br {
margin-bottom:6px;
}
.skip, .noCss {
left:-9999px;
position:absolute;
}
.aligncenter, div.aligncenter {
display:block;
margin-left:auto;
margin-right:auto;
}
.alignleft {
float:left;
}
.alignright {
float:right;
}
.job{
	border-top: 1px dotted black;
	margin-top: 20px;
        padding-left: 10px;
}
.share_this_button{
	float: right;
	top: 20px;
}
h1.meet_us, .meet_us a{
	color: #B72638;
}
.officePhoto{
  margin: 10px 0 10px 0;
  border: 1px solid #9E9A87;
  padding: 5px;
}

ol.reasons li{
  margin: 15px 0 5px 0;
}

#tumblr ol{
  list-style: none;
  border: 1px solid #9E9A87;
  padding: 5px;
}

#tumblr img{
  width: 100%;
}

#top1, #top2, #top3, #top4{;
  width: 100%;
  position: absolute;
  z-index: -1;
}

#top1{
  background: url(/images/main/header1.png) -20% repeat-x;
  margin-top: 100px;
  height: 50px;
}

#top2{
  background: url(/images/main/header2.png) 70% 100% repeat-x;
  height: 95px;
  
}

#top3{
  background: url(/images/main/header3.png) -10% repeat-x;
  height: 100px;
  margin-top: 170px;
}

#top4{
  background: url(/images/main/header4.png) 40% repeat-x;
  height: 50px;
  margin-top: 65px;
}

#team-members{padding: 0; margin:0;}
li.team-member .image-wrapper {
  height:110px;
  overflow:hidden;
  position:relative;
}
li.team-member{
  float: left;
  height:160px;
  margin:7px;
  overflow:hidden;
  position:relative;
  width:113px;
  -moz-box-shadow:0 2px 10px gray;
  -webkit-box-shadow:0 2px 10px gray;
  /*background: #d4cdb4;*/
  padding: 5px;
}

li.team-member:hover{
  -moz-box-shadow:0 2px 10px #463D2C;
  -webkit-box-shadow:0 2px 10px #463D2C;
/*  color: #B72638;*/
}

li.team-member img{
  left:0;
  position:absolute;
  top:0;
  min-height: 110px;
}
#primaryContent li.team-member h3{
  font-size:12px;
  margin:5px 0 0;
  padding:0;
  line-height: 12px;
}
li.team-member p{
  font-size:10px;
  margin:2px 0;
}
