<h1>About SapnaSolutions</h1>
<p>SapnaSolutions is a new type of web development company:</p>
<p>
We follow a two tier strategy of delivering highly engaging and creative client projects on one hand, and developing innovative, 'Intrapreneurial' Web, Mobile and Social applications
on the other hand.
</p>
<p>People are our greatest asset, and we strive to create an intense, startup-like environment which is sustainable, fun and creative, empowering our teams to realise their dreams.</p>
<p>'Sapna' is the traditional Hindi word for 'Dream', and realising dreams is what SapnaSolutions is all about! At SapnaSolutions, we Dare to Dream!</p>
<h1>About Us</h1>
<p>The people behind SapnaSolutions have come from Europe to India to make SapnaSolutions a reality:</p>
<p>
</p>
<p>
Nicholas Adams (UK) and Anthony Hsiao (Germany), the guys behind 

, have joined forces with Yann Le Gouic (France), of Noredox and previously at 

</p>
<p>We are building a team of highly skilled and closely knit web enthusiasts to develop innovative in-house and client products, and make a mark for Web-Innovation Made-in-India.</p>


