<!--
<body> 
<div id='top-canvas'> 
<div id='top1'></div> 
<div id='top2'></div> 
<div id='top3'></div> 
<div id='top4'></div> 
<div id='headerWrapper'> 
<div id='header'> 
<div id='header-left'> 
<a href='/'> 
<img alt='SapnaSolutions Logo' src='/images/main/logo.png' /> 
</a> 
<div id='subtitle'>We are an Indo-European development company building awesome <strong>Web</strong>, <strong>Social</strong> & <strong>Mobile</strong> apps</div> 
</div> 
<div id='header-right'> 
<div id='languageLink'> 
<a href='/en'> 
<img alt='English' src='/images/flags/en.png' title='English' /> 
</a> 
<a href='/it'> 
<img alt='Italiano' src='/images/flags/it.png' title='Italiano' /> 
</a> 
<a href='/de'> 
<img alt='Deutsch' src='/images/flags/de.png' title='Deutsch' /> 
</a> 
        <form action="/home/change_locale" method="post"><div style="margin:0;padding:0"><input name="authenticity_token" type="hidden" value="2b9fc6a26cedc2c12164caa5409e246e63dbdcb8" /></div> 
        </form> 
</div> 
<div id='contactBox'><img alt='Contact' src='/images/main/contact_en.png' /> 
<p> 
Find out more about how SapnaSolutions can help you!
</p> 
<div class='email'> 
<script type="text/javascript">

-->
 
<div id='top-bar'> 
<div id='subNav'></div> 
</div> 
<div id='canvas'> 
<div id='content'> 
<p style='color: red'> 
 
</p>
<div id='primaryContent'> 
<div id='postWrapper'> 
<div class='post'> 
<div id='main-paragraph'> 
<p><span class='w'>W</span>e are a creative web development company based in India, which offers full  <strong>product development</strong> services to our clients. We speak most major European languages <strong>natively</strong>, and bring the benefits of Indian offshore development to Europe.</p> 
<p>We love the web, and are <strong>passionate</strong> about our work. Whatever your product requirements, we treat every project as if it was our own, and deliver European quality at Indian prices.</p> 
</div> 
<div class='clear'></div> 
<div class='box'> 
<div class='graphic' id='webGraphic'></div> 
<h1 class='blue'>Web Development</h1> 
<p>We build awsome websites and rich webapplications that suit your requirements. We can also help you shape your specifications.</p> 
</div> 
<div class='separator'></div> 
<div class='box'> 
<div class='graphic' id='mobileGraphic'></div> 
<h1 class='orange'>Mobile Apps</h1> 
<p>Be it iPhone or Android, we are in tune with the latest on mobile platforms, and can build your next-generation mobile apps.</p> 
</div> 
<div class='clear'></div> 
<div class='box'> 
<div class='graphic' id='socialGraphic'></div> 
<h1 class='red'>Social Apps</h1> 
<p>The Social Web is our second home, and we can help you shape, build and launch social apps on Facebook or OpenSocial.</p> 
</div> 
<div class='separator'></div> 
<div class='box'> 
<div class='graphic' id='consultancyGraphic'></div> 
<h1 class='green'>Consultancy</h1> 
<p>Besides development, our diverse team can work with you on design, usability, product strategy and more to help you achieve your goals</p> 
</div> 
 
 
<br class='clear' /> 
</div> 
</div> 
</div> 
<div id='sidebar'> 
<div class='secondaryContentTop'></div> 
<div class='secondaryContent'> 
<div class='home-box'> 
<h1>Agile Development Process</h1> 
<p>Small self-motivated teams of developers work on your project in one to two week iterations, while a native english speaking analyst gives you weekly updates and engages you in regular discussions to keep feedback cycles short.</p> 
<p>This ensures that our work is fully aligned with your requirements, and allows us to adapt your product to changing market environments.</p> 
</div> 
</div> 
<div class='secondaryContentBottom'></div> 
<div class='secondaryContentTop'></div> 
<div class='secondaryContent'> 
<div class='home-box'> 

<h1>The Right Technology</h1> 
<p>We specialize in developing web applications in Ruby on Rails, with JavaScript to create rich and beautiful front ends.</p> 
<p>This allows us to build rich, interactive and highly user friendly applications quickly, on budget and on schedule.</p> 
<div class='tech_left'> 
<ul class='technology'> 
<li>Ruby on Rails</li> 
<li>HTML (haml)</li> 
<li>CSS</li> 
</ul> 
</div> 
<div class='tech_right'> 
<ul class='technology'> 
<li>JavaScript</li> 
<li>OpenSource</li> 
<li>CMS</li> 
</ul> 
</div> 
</div> 
</div> 
<div class='secondaryContentBottom'></div> 
 
</div> 
<div class='clear'></div> 
</div> 
</div> 
<div id='bottom-canvas'> 
<div id='footer'> 
<a class='ey-badge' href='http://www.engineyard.com/partners'> 

</a> 
<span id='copyright'> 
<a href="http://www.sapnasolutions.com">Website design</a> 
by Sapna Infotech Solutions Pvtl. Ltd.
<br /> 
© 2009 All rights reserved.
</span> 
<!-- = link_to "Blog", "/blog" --> 
<!--
--> 
<!-- = link_to "Wiki", "http://wiki.sapnasolutions.com/", {:rel => "nofollow"} --> 
<!--
--> 
<!-- = link_to "Projects (ClockingIT)", "http://pm.sapnasolutions.com/", {:rel => "nofollow"} --> 
<!--
--> 
<!-- = link_to "Yammer", "http://www.yammer.com/home", {:rel => "nofollow"} --> 
Connect with us:
<br /> 
<a href='http://www.twitter.com/sapnasolutions' rel='nofollow'> 

</a> 
<a href='http://www.facebook.com/pages/Pune-India/SapnaSolutions/78391827236' rel='nofollow'> 
> 
</a> 
<br /> 
<!-- = link_to "Contact Us", "office" --> 
<!--
--> 
<!-- = link_to "Find Us", "office" --> 
</div> 
<script type='text/javascript'> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
try {
<!-- /var pageTracker = _gat._getTracker("UA-7349142-1"); -->
var pageTracker = _gat._getTracker("UA-10831875-1");
pageTracker._trackPageview();
} catch(err) {}
</script> 
</div> 
</body> 
