<h1>We are hiring!</h1> 
<p>We are looking for experienced and creative problem solvers with passion for great code, technology and the Web to join our International team in Pune.</p> 
<p>Of course, we offer competitive compensation packages and, more importantly, a creative and fun environment to build your dreams.</p> 
<h2>Application Process</h2> 
<p>In order to realise our dreams, we at SapnaSolutions understand that great people are our greatest assets. To create an intense, engaging and fun environment of like-minded individuals, applicants will have to clear personal as well as technical interviews, demonstrate evidence for independent and creative work, and of course pass our Team-Suitability-Test: Winning a round of Tennis on our Nintendo Wii.</p> 
<p> 
If you're interested to join us, please send us an application including 
<b>CV and Motivation Letter (in written English)</b> 
, clearly stating your motivation to join us, for each of the below positions.
</p> 
<p>We are looking forward to meeting you!</p> 
<p>Anthony, Yann</p> 
