<div id='top-bar'> 
<div id='subNav'></div> 
</div> 
<div id='canvas'> 
<div id='content'> 
<p style='color: red'> 
 
</p> 
<div id='primaryContent'> 
<div id='postWrapper'> 
<div class='post'> 
<h1>What we've been working on</h1> 
<p>Here is an overview of some of the projects and web apps we've been working on, both in-house products as well as client projects.</p> 
<h2>EnTrip</h2> 
<p> 

</p> 
<p> 
<a href="http://www.entrip.com">www.entrip.com</a> 
</p> 
<p> 
EnTrip is a revolutionary map-based travelblog. Our flagship application, it is built fully on Ruby on Rails and JavaScript, and is said to be one of the most innovative applications of the Google Maps API on the web to date. EnTrip is developed in-house, ongoing.
</p> 

<p> 
</p> 
<p> 

</p> 
<p> 
AskSaurabh is a small, fun and not-for-profit side project, and our small contribution to our fellow IT professionals in India that have been affected by the economic downturn. It is fully built using Ruby on Rails. AskSaurabh was developed in-house.
</p> 
<h2>YoMission!</h2> 
<p> 
</p> 
<p> 

</p> 
<p> 
YoMission! was a site that enabled users to create and map out their current missions in life, and was custom built for a video competition with a major social network in the Online Travel vertical. Unfortunately, the project got cancelled and the site never officially went live. It is fully built using Ruby on Rails and reusing the EnTrip Engine.
</p> 
<h2>Factotum CRM App</h2> 
<p> 

</p> 
<p> 
<a href="http://Not available online (internal client application)">Not available online (internal client application)</a> 
</p> 
<p> 
Full CRM and Ticket management system, comments, posts, multiple threads, automatic email retrieval, user management, autocomplete, built on Rails.
</p> 
<h2>StageTech NCR App</h2> 
<p> 

</p> 
<p> 
<a href="http://Not available online (internal client application)">Not available online (internal client application)</a> 
</p> 
<p> 
Internal productivity site for a Theatre and Entertainment Automations Solutions Client. NCR (non conformance report) management, Mechanical drawings database, completely customised, with email.
</p> 
 
 
<br class='clear' /> 
</div> 
</div> 
</div> 
<div id='sidebar'> 
<div class='secondaryContentTop'></div> 
<div class='secondaryContent'> 
<div class='home-box'> 
<h1>Web Design and Development</h1> 
<p>In our Web practice, we build websites and webapplication as per your requirements. From a simple company website to complex mashups - we love to build them all.</p> 
<ul> 
<li id='spec'>You already have a clear techincal specification of what your site should do? Great - we can implement your specs rapidly and cost effectively.</li> 
<li id='idea'>You just have a general idea about your site? Even better - we passionately work on a suitable product strategy with you, and architecht the entire system.</li> 
<li id='offshore'>You are a development company and wish to reduce your costs? - look no further! We are interested to become your offshore development partner.</li> 
</ul> 
<p>If techonlogy is not your core business, we can cost effectively host and maintain your site for you, and make changes or improvements as necessary.</p> 
</div> 
</div> 
<div class='secondaryContentBottom'></div> 
<div class='secondaryContentTop'></div> 
<div class='secondaryContent'> 
<div class='home-box'> 
<h1>Agile Development Process</h1> 
<p>Small self-motivated teams of developers work on your project in one to two week iterations, while a native english speaking analyst gives you weekly updates and engages you in regular discussions to keep feedback cycles short.</p> 
<p>This ensures that our work is fully aligned with your requirements, and allows us to adapt your product to changing market environments.</p> 
</div> 
</div> 
<div class='secondaryContentBottom'></div> 
<div class='secondaryContentTop'></div> 
<div class='secondaryContent'> 
<div class='home-box'> 
 title='Rails' /> 
<h1>The Right Technology</h1> 
<p>We specialize in developing web applications in Ruby on Rails, with JavaScript to create rich and beautiful front ends.</p> 
<p>This allows us to build rich, interactive and highly user friendly applications quickly, on budget and on schedule.</p> 
<div class='tech_left'> 
<ul class='technology'> 
<li>Ruby on Rails</li> 
<li>HTML (haml)</li> 
<li>CSS</li> 
</ul> 
</div> 
<div class='tech_right'> 
<ul class='technology'> 
<li>JavaScript</li> 
<li>OpenSource</li> 
<li>CMS</li> 
</ul> 
</div> 
</div> 
</div> 
<div class='secondaryContentBottom'></div> 
 
</div> 
<div class='clear'></div> 
</div> 
</div> 
<div id='bottom-canvas'> 
<div id='footer'> 
<a class='ey-badge' href='http://www.engineyard.com/partners'> 

</a> 
<span id='copyright'> 
<a href="http://www.sapnasolutions.com">Website design</a> 
by Sapna Infotech Solutions Pvtl. Ltd.
<br /> 
© 2009 All rights reserved.
</span> 
<!-- = link_to "Blog", "/blog" --> 
<!--
--> 
<!-- = link_to "Wiki", "http://wiki.sapnasolutions.com/", {:rel => "nofollow"} --> 
<!--
--> 
<!-- = link_to "Projects (ClockingIT)", "http://pm.sapnasolutions.com/", {:rel => "nofollow"} --> 
<!--
--> 
<!-- = link_to "Yammer", "http://www.yammer.com/home", {:rel => "nofollow"} --> 
Connect with us:
<br /> 
<a href='http://www.twitter.com/sapnasolutions' rel='nofollow'> 

</a> 
<a href='http://www.facebook.com/pages/Pune-India/SapnaSolutions/78391827236' rel='nofollow'> 

</a> 
<br /> 
<!-- = link_to "Contact Us", "office" --> 
<!--
--> 
<!-- = link_to "Find Us", "office" --> 
</div> 
<script type='text/javascript'> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
try {
<!-- /var pageTracker = _gat._getTracker("UA-7349142-1"); -->
var pageTracker = _gat._getTracker("UA-10831875-1");
pageTracker._trackPageview();
} catch(err) {}
</script> 
</div> 
